<!DOCTYPE html>
<html>
<head>
  <title>Mission to Mars</title>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>

<body>
  <div class="container">
    <div class="row p-5" style="background-color: lightgray; border-radius: 5px;">
        <div class="col-md-12 font-weight-bold text-center">
            <h1 style="font-size: 60px;">Mission to Mars</h1>
        </div>
        <div class="col-md-12 text-center">
            <a class="btn btn-lg btn-primary" href="/scrape" role="button">Scrape New Data</a>
        </div>
    </div>
    
    <div class="row mt-4">
        <h2>Latest Mars News</h2>
        <div class="row">
            <div class="col-md-12">
                <p class="m-0 font-weight-bold">{{data.title}}</p>
                <p class="m-0">{{data.paragraph}}</p class="p-0">
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-7 p-0">
            <h3>Featured Mars Image</h3>
            <img src="{{data.url}}" style="max-width:100%; max-height: 100%;" alt="Mars Featured">            
        </div>
        <div class="col-md-5 p-0 pl-4">
          <div class="card" style="width: auto;">
            <div class="card-body">
              <p class="card-title font-weight-bold mb-1">Current Weather on Mars</h5>
              <p class="card-text">{{data.weather}}</p>
            </div>
          </div>
          <p class="mb-1 mt-3 font-weight-bold" style="font-size: 20px;">Mars Facts</h5>
          <table>{{data.facts|safe}}</table>
        </div>
    </div>
    
    <h3 class="text-center font-weight-bold mt-5">Mars Hemispheres</h3>
    <hr>
    <div class='card-deck'>
        {% for obj in data.hemisphere_data %}
        <div class="col-md-6">
            <div class="card m-5">
                <img class="card-img-top" src="{{obj.url}}" />
                <div class="card-body">
                    <p class="card-text font-weight-bold">{{ obj.title }}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
  </div>
</body>
</html>